body {
  font-family: helvetica;
}

header, main, footer {
  padding: 20px;
  /* Add additional styles for each section as needed */
}

header {
  padding-left: auto;
  padding-right: auto;
  font-style: helvetica;
}

p {
  text-align: justify; 
}

/* Add styles for specific elements like navigation, headings, paragraphs, etc. */
