body {
  font-family: helvetica;
  background-color: white;
  width: 60%;
  height: 60%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 5%;
  color: dark-blue; 
}

header, main, footer {
  /* Add additional styles for each section as needed */
}

header {
  color:
}

p {
  text-align: justify; 
  color: #FEC196;
}

/* Add styles for specific elements like navigation, headings, paragraphs, etc. */
