body {
  font-family: helvetica;
  background-color: #F5E6D3;
  width: 60%;
  padding: 20%;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

header, main, footer {
  padding: 20px;
  /* Add additional styles for each section as needed */
}

header {
  padding-left: 0 auto;
  padding-right: 0 auto;
 
}

p {
  text-align: justify; 
}

/* Add styles for specific elements like navigation, headings, paragraphs, etc. */
